@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

body{
    padding: 0px;
    margin: 0px;
    display: flex;
    width: 100%;
    max-height:auto;
}
.main-section{
    background-color: #9FC9BF;
    min-width: 80%;
    height: 100%;
}

/* Header Section start */
header{
    min-width: 100%;
    max-width: 100%;
    height: 15%;
    border-top:  1px solid #00171F;
    border-right:  1px solid #00171F;
    border-left:  1px solid #00171F;
}
h1{
  font-family: "Krona One", sans-serif;
  font-weight: 500;
  font-style: normal;
  padding: 0px 20px;
  font-size: 2em;
}

.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}
 

.socail-icons{
    display: flex;
    align-items: center;
}

.socail-icons > ul{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: space-around;    
}

.socail-icons > hr{
    width: 60px;
    height: 1px;
    border: none;
    background-color: #00171F;
    margin: 0px 5px;
}

.socail-icons > ul >li >a{
    padding: 0px 10px;
    font-size: 2em;
    color: #00171F;
}

/* Header Section end */

/* Header2 Section start*/

.header2{
    min-width: 100%;
    max-width: 100%;
    height: 20%;
    border-bottom:  1px solid #00171F;
    border-right:  1px solid #00171F;
    border-left:  1px solid #00171F;
    padding:25px 0px;
}

.header2 > ul{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.header2 >ul >li>i{
    display: flex;
    justify-content: center;
    font-size: 2em;
}


/* Header2 Section end */

/* Main Form Section  start*/

.main-form{
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
    border-right:  1px solid #00171F;
    border-left:  1px solid #00171F;
    padding: 10px 0px 20px 0px;
}
h2{
  font-family: "Krona One", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.3em;
  padding-left: 30px;
}

form{
    min-width: 90%;
    max-width: 90%;
    height: auto;
    padding: 0px 0px 0px 40px;
    align-content: center;
}

input, textarea {
    background-color: #DFFAF4;
    border: 1px solid #00171F;
    border-radius: 15px;
    color: #00171F;
    margin: 15px 0 0 0;
    width: 98%;
    min-height: 3em;
    font-family: "Krona One", sans-serif;
    font-size: 15px;
    padding-left: 20px;
    
  }

#Full-name , #email{
    width: 40%;
}

.flex{
    min-width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

input[type="submit"]{
    width:30%;
    padding-left: 0px;
    background-color: #00171F;
    color: #9FC9BF;
    cursor: pointer;
    transition: 1s;
}
input[type="submit"]:hover{
    font-size: 18px;
}
/* Main Form Section  end*/

/* aside secetion */

.aside-section{
    min-width: 20%;
    height: 100dvh;
    background-color: #00171F;
    color: #9FC9BF;
    margin: 0%;
    overflow: hidden;
}

.title{
  font-family: "Black Ops One", system-ui;
  font-weight: 900;
  font-style: normal;
  font-size: 6em;
  padding: 10px 0px;
  writing-mode: vertical-rl;
  animation: 4s slide infinite linear;
}

@keyframes slide {
    from{
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
    
}



/* aside secetion */



